.node {
    width: 30px;
    /* Width of each node */
    height: 30px;
    /* Height of each node */
    background-color: white;
    /* Default background color */
    border: 1px solid rgba(0, 0, 0, 0.2);
    /* Border color */
    display: inline-flex;
    /* Align nodes in a grid */
    justify-content: center;
    /* Center content horizontally */
    align-items: center;
    /* Center content vertically */
    font-size: 12px;
    /* Font size for value display */
    text-align: center;
    /* Center text horizontally */

}

.node-start {
    background-color: #2ecc71;
    /* Green color for start node */
}

.node-finish {
    background-color: #e74c3c;
    /* Red color for finish node */
}

.animated-path-node {
    animation: shortestPathAnimation 0.5s forwards linear;
}

@keyframes shortestPathAnimation {
    from {
        background-color: white;
        background-color: #00ff2a;
        background-color: aqua;
        background-color: rgb(255, 0, 128);
    }

    to {
        background-color: yellow;
        border: 1px solid yellow;
    }
}

.wall-node {
    background-color: black;
    /* Gray color for wall node */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(50, 30px);
    /* 50 columns, each 20px wide */
    grid-template-rows: repeat(30, 30px);
    /* 20 rows, each 20px tall */
    gap: 0px;
    /* Space between nodes */
    margin: 100px 200px;
}